<div class="row justify-content-center">
  <div class="col-md-10 col-sm-12 card-custom pb-2">
    <h2 *ngIf="account">Ajustes de perfil</h2>

    <div class="alert alert-success" *ngIf="success">
      <strong>Ajustes guardados!</strong>
    </div>

    <jhi-alert-error></jhi-alert-error>

    <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="account" novalidate>
      <div class="form-group">
        <label class="form-control-label" for="firstName">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Nombre"
          formControlName="firstName"
          data-cy="firstname"
        />

        <div
          *ngIf="settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)"
        >
          <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.required"> Tu nombre es requerido. </small>

          <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.minlength">
            Tu nombre debe tener al menos 1 carácter.
          </small>

          <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.maxlength">
            Tu nombre no puede tener más de 50 caracteres.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="lastName">Apellido</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          name="lastName"
          placeholder="Apellido (s)"
          formControlName="lastName"
          data-cy="lastname"
        />

        <div
          *ngIf="settingsForm.get('lastName')!.invalid && (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)"
        >
          <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.required"> Tu apellido es requerido. </small>

          <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.minlength">
            Tu apellido debe tener al menos 1 carácter.
          </small>

          <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.maxlength">
            Tu apellido no puede tener más de 50 caracteres.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="email">Correo electrónico</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Correo electrónico"
          formControlName="email"
          data-cy="email"
        />

        <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
          <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.required"
            >Tu correo electrónico es requerido.
          </small>

          <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.email"> Tu correo electrónico es inválido. </small>

          <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.minlength">
            Su correo electrónico debe tener al menos 5 caracteres.
          </small>

          <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.maxlength">
            Su correo electrónico no puede tener más de 100 caracteres.
          </small>
        </div>
      </div>

      <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" data-cy="submit">Guardar</button>
    </form>
  </div>
</div>
