<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="devolucion">
      <h2 data-cy="devolucionDetailsHeading"><span>Devolucion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ devolucion.id }}</span>
        </dd>
        <dt><span>Observaciones</span></dt>
        <dd>
          <span>{{ devolucion.observaciones }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ devolucion.user?.login }}</span>
        </dd>
        <dt><span>Persona</span></dt>
        <dd>
          <div *ngIf="devolucion.persona">
            <a [routerLink]="['/persona', devolucion.persona?.id, 'view']">{{ devolucion.persona?.id }}</a>
          </div>
        </dd>
        <dt><span>Prestamo</span></dt>
        <dd>
          <div *ngIf="devolucion.prestamo">
            <a [routerLink]="['/prestamo', devolucion.prestamo?.id, 'view']">{{ devolucion.prestamo?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/devolucion', devolucion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
