<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="devolucion">
      <h2 data-cy="devolucionDetailsHeading"><span>Devolucion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ devolucion.id }}</span>
        </dd>
        <dt><span>Observaciones</span></dt>
        <dd>
          <span>{{ devolucion.observaciones }}</span>
        </dd>
        <dt><span>Recibido por</span></dt>
        <dd>
          <span>{{ devolucion.user?.firstName + ' ' + devolucion.user?.lastName }}</span>
        </dd>
        <dt><span>Devuelto por</span></dt>
        <dd>
          {{ devolucion.persona?.nombre + ' ' + devolucion.persona?.apaterno + ' ' + devolucion.persona?.amaterno }}
        </dd>
        <dt><span>Numero de libro</span></dt>
        <dd>
          <div *ngIf="devolucion.prestamo">
            <a [routerLink]="['/prestamo', devolucion.prestamo?.id, 'view']">{{ devolucion.prestamo?.libro?.numero }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>
    </div>
  </div>
</div>
