<div class="container-fluid jh-card">
  <div class="row justify-content-center">
    <div class="col-8">
      <div *ngIf="orc">
        <h2 data-cy="orcDetailsHeading"><span>Orc</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ orc.id }}</span>
          </dd>
          <dt><span>Numerom de ORC</span></dt>
          <dd>
            <span>{{ orc.numero }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Atras</span>
        </button>
      </div>
    </div>
  </div>
</div>
