<div>
  <h2 id="page-heading" data-cy="LibroHeading">
    <span>Libros</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualizar Lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-libro"
        [routerLink]="['/libro/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Registrar Libro </span>
      </button>
    </div>
  </h2>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3 mb-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            (ngModelChange)="onSearchChange()"
            id="currentSearch"
            name="currentSearch"
            placeholder="Buscar..."
          />
          <button class="input-group-append btn btn-info" [disabled]="!currentSearch || searching" (click)="loadPage(1, true)">
            <fa-icon *ngIf="!searching" icon="search"></fa-icon>
            <span *ngIf="searching" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
          <button class="input-group-append btn btn-danger" (click)="deleteSearch()" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="libros?.length === 0 && !currentSearch">
    <span>No se encontró registro de libros</span>
  </div>
  <div class="alert alert-warning" id="no-found" *ngIf="libros?.length === 0 && currentSearch">
    <span>No se encontró resultados para la búsqueda</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="libros && libros.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id">
            <span>ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="numero">
            <span>Numero</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="observaciones">
            <span>Fecha de registro</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="categoria.id">
            <span>Categoria</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let libro of libros; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/libro', libro.id, 'view']">{{ libro.id }}</a>
          </td>
          <td>{{ libro.numero }}</td>
          <td>{{ libro.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
          <td>
            <div *ngIf="libro.categoria">
              <a [routerLink]="['/categoria', libro.categoria?.id, 'view']">{{ libro.categoria?.nombre }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/libro', libro.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Ver detalle</span>
              </button>

              <button type="submit" [routerLink]="['/libro', libro.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editar</span>
              </button>

              <button type="submit" (click)="delete(libro)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="libros && libros.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage, items: 'Libros' }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
