<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="prestamo">
      <h2 data-cy="prestamoDetailsHeading"><span>Prestamo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ prestamo.id }}</span>
        </dd>
        <dt><span>Numero de libro</span></dt>
        <dd>
          <div *ngIf="prestamo.libro">
            <a [routerLink]="['/libro', prestamo.libro?.id, 'view']">{{ prestamo.libro?.numero }}</a>
          </div>
        </dd>
        <dt><span>Prestatario</span></dt>
        <dd>
          <div *ngIf="prestamo.persona">
            <a [routerLink]="['/persona', prestamo.persona?.id, 'view']">{{
              prestamo.persona?.nombre + ' ' + prestamo.persona?.apaterno + ' ' + prestamo.persona?.amaterno
            }}</a>
          </div>
        </dd>
        <dt><span>Fecha de prestamo</span></dt>
        <dd>
          <span>{{ prestamo.createdDate | date: 'dd/MM/yyyy HH:mm' }}</span>
        </dd>
        <dt><span>Prestado por</span></dt>
        <dd>
          <span>{{ prestamo.user?.firstName + ' ' + prestamo.user?.lastName }}</span>
        </dd>
        <dt><span>Prestado hasta</span></dt>
        <dd>
          <span>{{ prestamo.fechaFin | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Observaciones</span></dt>
        <dd>
          <span>{{ prestamo.observaciones }}</span>
        </dd>
        <dt><span>Estado del libro</span></dt>
        <dd>
          <span>{{ prestamo.devuelto ? 'Devuelto' : 'Prestado' }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>
    </div>
  </div>
</div>
