<div>
  <ngb-carousel
    [showNavigationArrows]="true"
    [showNavigationIndicators]="true"
    [keyboard]="true"
    [interval]="10000"
    [pauseOnHover]="true"
    [wrap]="true"
    [activeId]="'slideTwo'"
  >
    <ng-template ngbSlide id="slideOne">
      <div class="picsum-img-wrapper gallery-item">
        <img src="/content/images/carousel/carousel1.jpg" alt="main" class="img-fluid h-custom" />
        <div class="carousel-caption">
          <h3 class="welcome-text">
            SISTEMA DE INFORMACION PARA EL PROCESO DE REGISTRO Y CONSULTA DE LIBROS PARA LA UNIDAD DE ARCHIVO DEL SERVICIO DE REGISTRO
            CIVICO DE ORURO
          </h3>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide id="slideTwo">
      <div class="picsum-img-wrapper gallery-item">
        <img src="/content/images/carousel/carousel2.jpg" alt="main" class="img-fluid h-custom" />
        <div class="carousel-caption">
          <h3 class="welcome-text">
            SISTEMA DE INFORMACION PARA EL PROCESO DE REGISTRO Y CONSULTA DE LIBROS PARA LA UNIDAD DE ARCHIVO DEL SERVICIO DE REGISTRO
            CIVICO DE ORURO
          </h3>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide id="slideThree">
      <div class="picsum-img-wrapper gallery-item">
        <img src="/content/images/carousel/carousel3.jpg" alt="main" class="img-fluid h-custom" />
        <div class="carousel-caption">
          <h3 class="welcome-text">
            SISTEMA DE INFORMACION PARA EL PROCESO DE REGISTRO Y CONSULTA DE LIBROS PARA LA UNIDAD DE ARCHIVO DEL SERVICIO DE REGISTRO
            CIVICO DE ORURO
          </h3>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="container-fluid pl-5 pr-5 jh-card-custom">
  <span class="text-center">
    El Servicio de Registro Cívico (SERECI) es la entidad de registro público, dependiente del Tribunal Supremo Electoral (TSE), encargada
    del registro civil de ciudadanos y ciudadanas y de su inscripción en el Padrón Electoral, el SERECI registra y certifica nacimientos,
    defunciones, matrimonios, reconocimientos y naturalizaciones. El SERECI organiza el registro de ciudadanos en edad de ejercer.
  </span>
  <div class="card-deck pt-4">
    <div class="card mb-4 c2">
      <div class="card-body">
        <h4 class="card-title card-title-color text-center">MISION</h4>
        <p class="card-text">
          El Servicio de Registro Cívico de Oruro es la entidad de registro público dependiente del Tribunal Supremo Electoral que organiza
          y administra la inscripción y certificación de hechos vitales, actos jurídicos y el Padrón Electoral, de manera eficiente,
          responsable, transparente, con vocación de servicio y calidez para las personas..
        </p>
      </div>
    </div>
    <div class="card mb-4 c1">
      <div class="card-body">
        <h4 class="card-title card-title-color text-center">VISION</h4>
        <p class="card-text">
          Entidad líder de registro público que contribuye a consolidar el ejercicio de derechos Civiles y Políticos, y proporciona
          estadísticas vitales para la elaboración de políticas públicas del Estado Plurinacional.
        </p>
      </div>
    </div>
    <div class="w-100 d-none d-sm-block d-md-none"><!--wrap every 2 on sm--></div>
    <div class="w-100 d-none d-md-block d-lg-none"><!--wrap every 2 ons md--></div>
    <div class="card mb-4 c3">
      <div class="card-body">
        <h4 class="card-title card-title-color text-center">CAMPO DE ACCION</h4>
        <p class="card-text">
          Se constituye en el proceso que permita el registro y consulta de libros de la Unidad de Archivo del SERECI ORURO.
        </p>
      </div>
    </div>
    <div class="w-100 d-none d-lg-block d-lg-none"><!--wrap every 3 on md--></div>
    <div class="w-100 d-none d-xl-block"><!--wrap every 3 on xl--></div>
    <div class="card invisible"></div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-primary text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; 2021</small>
  </div>
</footer>
