<div class="row justify-content-center">
  <div class="col-sm-12 col-md-11 card-custom pb-3">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-orc-heading" data-cy="OrcCreateUpdateHeading">
        {{ editForm.get('id')!.value ? 'Editar' : 'Crear' }} oficialia de registro
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
          <label class="form-control-label" for="field_numero">Numero de ORC</label>
          <input
            type="text"
            class="form-control"
            name="numero"
            id="field_numero"
            data-cy="numero"
            formControlName="numero"
            [ngClass]="validInputBootstrap('numero')"
          />
          <div *ngIf="editForm.get('numero')!.invalid && (editForm.get('numero')!.dirty || editForm.get('numero')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('numero')?.errors?.required"> Este campo es requerido </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="field_personas">Oficiales de registro de esta ORC</label>
        <select class="form-control" id="field_personas" data-cy="persona" multiple name="personas" formControlName="personas">
          <option
            [ngValue]="getSelectedPersona2(personaOption, editForm.get('personas')!.value)"
            *ngFor="let personaOption of personasSharedCollection; trackBy: trackPersonaById"
          >
            <td>{{ personaOption.nombre }}</td>
            <td>{{ personaOption.apaterno }}</td>
            <td>{{ personaOption.amaterno }}</td>
            <td>{{ personaOption.ci + ' ' + departamentosAbr(personaOption.expedicion) }}</td>
            <td>{{ personaOption.telefono }}</td>
            <td>{{ personaOption.institucion }}</td>
          </option>
        </select>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
