<div class="row justify-content-center">
  <div class="col-sm-12 col-md-11 card-custom pb-2">
    <div *ngIf="user">
      <h2>
        <span>Detalle del usuario </span>
      </h2>
      <div class="row">
        <div class="col-6 form-group mb-4">
          <label class="form-control-label text-muted" for="field_user">Usuario</label>
          <p id="field_user">
            <span>{{ user.login }}</span>
            <span *ngIf="user.activated" class="badge badge-success">Activado</span>
            <span *ngIf="!user.activated" class="badge badge-danger">Desactivado</span>
          </p>
        </div>
        <div class="col-6 form-group mb-4">
          <label class="form-control-label text-muted" for="field_nombre">Nombre</label>
          <p id="field_nombre">{{ user.firstName + ' ' + user.lastName }}</p>
        </div>
        <div class="col-6 form-group mb-4">
          <label class="form-control-label text-muted" for="field_or">Creado por</label>
          <p id="field_or">{{ user.createdBy }}</p>
        </div>
        <div class="col-6 form-group mb-4">
          <label class="form-control-label text-muted" for="field_m">Modificado por</label>
          <p id="field_m">{{ user.lastModifiedBy }}</p>
        </div>
        <div class="col-6 form-group mb-4">
          <label class="form-control-label text-muted" for="field_f_c">Fecha de creacion</label>
          <p id="field_f_c">{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</p>
        </div>
        <div class="col-6 form-group mb-4">
          <label class="form-control-label text-muted" for="field_f_m">Fecha de modificacion</label>
          <p id="field_f_m">{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</p>
        </div>
      </div>
      <button type="submit" routerLink="../../" class="btn btn-info"><fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Atras</span></button>
    </div>
  </div>
</div>
